<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Niraj Prajapati on 30/4/21 12:07 PM
  ~ Copyright (c) 2021. All rights reserved.
  ~ Last modified at 30/4/21 11:08 AM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niraj.storyviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.StoryApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screen.StoryViewActivity" />
    </application>
</manifest>